<!DOCTYPE HTML>
<html ng-app="Robokemon">
    <head>

    </head>
    <body ng-controller="accountSetup">
        <div>
            <md-button class="md-raised md-primary" ng-click="accountSetup()" id="editProfile">Edit Profile</md-button>
                <div class="accountSetup hidden">
                    <md-content layout-fill layout-padding>
                        <form name="userForm">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First Name</label>
                                <input ng-model="user.firstName">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input ng-model="user.lastName">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>User Name</label>
                                <input ng-model="user.userName">
                            </md-input-container>

                            <md-button class="md-raised md-primary" id="finishButton">Submit</md-button>
                            <md-button class="md-flat" id="warningAlert" class="btn btn-danger hidden">{{ warning }}</button>
                        </form>
                    </md-content>
                </div>
    </body>

</html>