<!DOCTYPE HTML>
<html>
    <head>

    </head>
    <body ng-controller="login">
    		<md-content layout-padding>
    			<h1 class="center white">Robokemon</h1>
                    <form name="loginForm">
                        <md-input-container class="md-block" flex-gt-sm>
					        <label>Email</label>
                            <input ng-model="user.email">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <input ng-model="user.password">
                        </md-input-container>

				<md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
					<h3>No account?</h3>
                <md-button class="md-raised md-primary" ng-click="">Register</md-button>

		  </md-content>
    </body>
</html>