md-content {
    overflow-x: hidden !important;
}

.mainNav {
    position: fixed;
}

#viewContent {
    padding-top: 50px;
}


.profileCard {
    width: 98%;
    height: 150px;
}

#welcomeMessage {
    text-align: center;
}

#title {
	text-align: center;
}

.center {
    margin: 0px auto;
}

.white {
    color: #fff;
}

.hidden {
    display: none;
}

md-tabs.noTabPanel md-tabs-wrapper {
    display: none !important;
}

md-sidenav {
    overflow-y: hidden;
}

.first .view.ng-enter{
  left: -100%;
}

.first .view.ng-enter.ng-enter-active{
  left: 0%;
}

.first .view.ng-leave{
  left: 0%;
}

.first .view.ng-leave.ng-leave-active{
  left: 100%;
}

.menuButton {
    width: 99%;
    margin: 0px;
    float: left;
    text-align: left;
}

.btn-danger {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

.md-icon-button {
    background-color: transparent !important;
}

.transparent {
    background-color: transparent !important;;
    border-color: transparent !important;
}

.md-raised {
    width: 98%;
}

#editProfile {
    padding-top: 20px;
}

#loginHeader {
	margin-bottom: 15%;
}

#loginFooter {
	margin-top: 15%;
}